#contenedor_principal
	// border 1px solid red
	padding-top 5px
	
// 	min-height 320px
// 	margin-top 100px

// #menu_lateral
// 	margin-top 80px
// 	padding 15px
// 	width 200px

#menu_superior
	position fixed
	right 0
	left 0
	top 0
	z-index 1030
	
// 	div
// 		margin-right 10px

// .clear
// 	clear both
	
// .modal
// 	margin-top 80px