# Creado por https://www.gitignore.io/api/codeigniter

### Archivos ###
/index.php
commits.txt
package-lock.json

### Carpetas ###
archivos/documentacion/
user_guide/
application/config/

# Fin de https://www.gitignore.io/api/codeigniter